{
    "overrides": [
        {
            "files": [
                "*.html",
                "*.js"
            ],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}