{{ with .Site.Data.home.cta }}
<div>
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl leading-9 font-extrabold tracking-tight {{.headingColor}} sm:text-4xl sm:leading-10">
            {{.heading}}
            <br />
            <span class="{{.subheadingColor}}">{{.subheading}}.</span>
        </h2>
        <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
            <div class="flex-shrink-0 inline-flex rounded-md shadow">
                <a href="{{.leftBtn.link}}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md {{.leftBtn.fgcolor}} {{.leftBtn.bgcolor}} hover:{{.leftBtn.hovercolor}} focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                    {{.leftBtn.title}}
                </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow items-center justify-center">
                <a href="{{.rightBtn.link}}" class="text-center inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md {{.rightBtn.fgcolor}} {{.rightBtn.bgcolor}} hover:{{.rightBtn.hovercolor}} focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                    {{.rightBtn.title}}
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}