{{ with .Site.Data.home.features }}
<div class="py-12">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p
        class="text-base leading-6 text-brand font-semibold tracking-wide uppercase"
      >
        {{.title}}
      </p>
      <h3
        class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-primary sm:text-4xl sm:leading-10"
      >
        {{.heading}}
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        {{.subheading}}
      </p>
    </div>

    <div class="mt-10">
      <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        {{range .items}}
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              {{if .svg.enable}}
              <div
                class="flex items-center justify-center h-12 w-12 rounded-md {{.svg.bgcolor}} {{.svg.fgcolor}}"
              >
                <svg
                  class="h-6 w-6"
                  stroke="currentColor"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="{{ .svg.path }}"
                  />
                </svg>
              </div>
              {{end}} 
              {{if .img.enable}}
              <img src="{{.img.link}}" class="h-24 w-24" /> 
              {{end}}
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-primary">
                {{.title}}
              </h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{.description}}
              </p>
            </div>
          </div>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}}
